openapi: 3.1.0

info:
  title: Sekarya API
  version: 1.0.0
  summary: Marketplace freelance pekerjaan acak, perseorangan, dengan lelang dan dana ditahan.
  description: |
    **Sekarya** menyatukan orang yang butuh bantuan dengan orang yang mencari kerja.
    Pekerjaannya acak — mencuci, membersihkan rumah, menjaga hewan, mengantarkan barang,
    dan lainnya. Semua pihak perseorangan; tidak ada konsep mitra atau badan usaha.

    Satu orang bisa berada di **kedua sisi**, bergantian:

    | Peran | Sebutan di API | Yang dilakukan |
    |---|---|---|
    | Pemberi kerja | `poster` | Membuat task dengan rentang budget |
    | Penerima kerja | `worker` | Mengajukan penawaran dengan budget sendiri |

    ## Alur inti

    ```
    poster buat task (budget min–max)
      → worker ajukan penawaran
      → poster pilih SATU  ............ DEAL
      → poster transfer lalu MELAPOR
      → PENGELOLA konfirmasi mutasi  .. dana DITAHAN, activity dibuka
      → worker kerjakan lalu serahkan
      → poster setujui  ............... task selesai, dana DILEPAS
      → penilaian dua arah
    ```

    ## Melacak sebuah request

    Setiap respons membawa header `X-Request-Id`. Sertakan nilainya saat
    melaporkan masalah — seluruh jejak request tersimpan di bawah id itu.
    Klien juga boleh mengirim `X-Request-Id` sendiri untuk menyatukan jejak
    lintas layanan. Lihat `components/headers/RequestId`.

    ## Autentikasi

    Setiap panggilan butuh token. Ada **dua jenis** dengan peran berbeda:

    | Token | Umur | Boleh dipakai untuk |
    |---|---|---|
    | `access_token` | **8 jam** | Semua endpoint aplikasi |
    | `long_lived_token` | 30 hari | **Hanya** `POST /auth/refresh` |

    Dan **populasi token yang terpisah** untuk pengelola, dari
    `POST /admin/auth/login`. Akun pengelola ada di tabelnya sendiri dengan
    guard-nya sendiri, jadi tokennya tidak bisa ditukar:

    | Token | Endpoint pengguna | Endpoint `/admin` |
    |---|---|---|
    | `access_token` pengguna | 200 | **401** |
    | `access_token` pengelola | **401** | 200 |

    Memakai `long_lived_token` pada endpoint aplikasi menghasilkan `403`, dan
    sebaliknya. Setelah `POST /auth/refresh`, **access token lama langsung tidak
    berlaku**.

    Pendaftaran **tidak** langsung mengaktifkan akun: `POST /auth/register`
    mengembalikan `202` tanpa token, dan akun berstatus `pending_verification`
    sampai kode dari email diterima oleh `POST /auth/verify-email`.

    ## Dua bentuk galat, jangan campur

    | Bentuk | Arti | Sumber |
    |---|---|---|
    | `{ message, errors: { field: [...] } }` | Bentuk request salah | Validasi |
    | `{ message, code, context? }` | Aturan bisnis dilanggar | Action |

    Bercabanglah pada `code`, **jangan** pada `message`.

    ## Rate limit

    Semua endpoint dibatasi. Respons membawa `X-RateLimit-Limit` dan
    `X-RateLimit-Remaining`; saat terlampaui balasannya `429` dengan `Retry-After`.

    | Kelompok | Batas /menit | Kunci |
    |---|---|---|
    | Endpoint aplikasi | 120 | pengguna |
    | `login` | 5 | email + IP |
    | `register` | 5 | IP |
    | `verify-email` | 6 | email + IP |
    | `resend-code` | 3 | email |
    | `refresh` | 10 | pengguna |
    | Buat task & penawaran | 30 | pengguna |
    | Endpoint `/admin` | 240 | pengelola |
    | `admin/auth/login` | 5 | email + IP |

    ## Pagination

    Cursor (keyset) saja. `meta` membawa `next_cursor`/`prev_cursor` dan **tidak**
    punya `current_page`, `total`, atau `last_page`. Parameter `page` diabaikan.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://sekarya.com/api/v1
    description: Produksi
  - url: http://127.0.0.1:8000/api/v1
    description: Pengembangan lokal (php artisan serve)

security:
  - accessToken: []

tags:
  - name: Auth
    description: Pendaftaran, verifikasi email, token.
  - name: Katalog
    description: Kategori pekerjaan (dengan harga referensi) dan keahlian.
  - name: Akun
    description: Profil sendiri dan verifikasi identitas.
  - name: Task
    description: Pekerjaan yang diposting pemberi kerja.
  - name: Lelang
    description: Penawaran dari penerima kerja, sampai deal.
  - name: Uang
    description: Transfer dan dana yang ditahan. **Stub** — menunggu riset.
  - name: Activity
    description: Eksekusi pekerjaan, dibuka oleh transfer.
  - name: Penilaian
    description: Rating dua arah, terikat task yang selesai.
  - name: Pengelola
    description: |
      Konsol pengelola: verifikasi identitas, konfirmasi transfer, moderasi
      pengguna, dan akun pengelola. **Token dan tabelnya terpisah** dari
      pengguna — lihat `adminAccessToken`.

paths:

  # ─────────────────────────────── AUTH ───────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      operationId: register
      summary: Daftar akun baru
      security: []
      description: |
        Membuat akun berstatus `pending_verification` dan mengirim kode ke email.

        **Tidak mengembalikan token.** Akun belum bisa apa-apa sampai
        `POST /auth/verify-email` berhasil.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              name: Budi Prasetyo
              email: budi@example.com
              phone: '+628111222333'
              password: RahasiaKuat2026
              password_confirmation: RahasiaKuat2026
              city: Jakarta
              province: DKI Jakarta
      responses:
        '202':
          description: Akun dibuat, kode dikirim.
          content:
            application/json:
              example:
                message: Akun dibuat. Kode verifikasi dikirim ke email Anda.
                data:
                  email: budi@example.com
                  status: pending_verification
                  code_expires_in_minutes: 15
                  next_step: POST /api/v1/auth/verify-email
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/verify-email:
    post:
      tags: [Auth]
      operationId: verifyEmail
      summary: Verifikasi kode dan aktifkan akun
      security: []
      description: |
        Satu-satunya jalan dari `pending_verification` ke `active`. Berhasil →
        akun aktif dan pasangan token diterbitkan.

        Kode punya **dua** batas yang berbeda cara gagalnya: rate limit per
        email+IP (bisa dihindari dengan rotasi IP), dan **batas percobaan pada
        kodenya sendiri** (5 kali, tidak bisa dihindari). Kode yang percobaannya
        habis tidak bisa dipakai lagi walau angkanya benar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
            example:
              email: budi@example.com
              code: '331217'
      responses:
        '200':
          $ref: '#/components/responses/TokenPair'
        '422':
          description: |
            Kode salah, kedaluwarsa, atau percobaan habis. `context.attempts_left`
            menunjukkan sisa percobaan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              examples:
                salah:
                  value:
                    message: Kode verifikasi salah.
                    code: invalid_verification_code
                    context: { attempts_left: 4 }
                habis:
                  value:
                    message: Percobaan kode habis. Minta kode baru.
                    code: invalid_verification_code
                    context: { attempts_left: 0 }
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/resend-code:
    post:
      tags: [Auth]
      operationId: resendCode
      summary: Kirim ulang kode verifikasi
      security: []
      description: |
        Kode lama dibatalkan, kode baru dikirim. Ada cooldown 60 detik.

        Respons **selalu sama** entah email terdaftar atau tidak, dan entah akun
        sudah aktif atau belum — endpoint ini tidak boleh jadi alat memeriksa
        email mana yang punya akun.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
            example: { email: budi@example.com }
      responses:
        '202':
          description: Diterima. Kode dikirim hanya bila memang perlu.
          content:
            application/json:
              example:
                message: Jika email terdaftar dan belum terverifikasi, kode baru sudah dikirim.
        '429':
          description: |
            Cooldown belum lewat (`resend_too_soon`, dengan
            `context.retry_after_seconds`), atau rate limit terlampaui.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tunggu 42 detik sebelum meminta kode lagi.
                code: resend_too_soon
                context: { retry_after_seconds: 42 }

  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Masuk dengan email atau nomor HP
      security: []
      description: |
        Kirim `email` **atau** `phone`, bersama `password`.

        Balasan untuk email tak terdaftar dan kata sandi salah **identik** —
        termasuk waktu responsnya — agar endpoint ini tidak bisa dipakai
        memeriksa keberadaan akun.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              email:
                value: { email: budi@example.com, password: RahasiaKuat2026 }
              phone:
                value: { phone: '+628111222333', password: RahasiaKuat2026 }
      responses:
        '200':
          $ref: '#/components/responses/TokenPair'
        '401':
          description: Kredensial salah.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Email atau kata sandi salah.
                code: invalid_credentials
        '403':
          description: |
            Email belum diverifikasi (`email_not_verified`) atau akun tidak aktif
            (`account_not_active`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              examples:
                belumVerifikasi:
                  value:
                    message: Email belum diverifikasi. Masukkan kode yang dikirim ke email Anda.
                    code: email_not_verified
                tidakAktif:
                  value:
                    message: 'Akun tidak aktif (status: suspended).'
                    code: account_not_active
                    context: { status: suspended }
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshAccessToken
      summary: Tukar long_lived token jadi access token baru
      security:
        - longLivedToken: []
      description: |
        Kirim **`long_lived_token`** sebagai Bearer, bukan access token.

        Access token lama **dicabut** — begitu token baru diterbitkan, yang lama
        tidak berlaku lagi. `long_lived_token` sendiri tidak berubah, jadi klien
        tetap memakai yang sudah dipegang.

        Status akun diperiksa ulang di sini: akun yang di-suspend setelah login
        tidak bisa memperpanjang akses.
      responses:
        '200':
          description: Access token baru.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccessToken'
              example:
                data:
                  token_type: Bearer
                  access_token: 12|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  access_expires_at: '2026-09-08T17:54:55+00:00'
                  access_expires_in_seconds: 28799
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          description: |
            Token yang dipakai bukan `long_lived_token` (`Invalid ability provided.`),
            atau akun tidak aktif (`account_not_active`).
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Keluar dan cabut semua token
      description: |
        Mencabut **seluruh** token, termasuk `long_lived_token`. Mencabut access
        token saja akan menyisakan kredensial yang masih bisa menerbitkan akses
        baru — itu bukan logout.

        Menerima kedua jenis token, supaya pengguna tetap bisa keluar walau
        access token-nya sudah kedaluwarsa.
      responses:
        '200':
          description: Semua token dicabut.
          content:
            application/json:
              example: { message: 'Berhasil keluar. Semua token dicabut.' }
        '401':
          $ref: '#/components/responses/Unauthenticated'

  # ───────────────────────────── KATALOG ──────────────────────────────
  /categories:
    get:
      tags: [Katalog]
      operationId: listCategories
      summary: Kategori pekerjaan dengan harga referensi
      description: |
        Dibaca **sebelum** pemberi kerja menentukan budget.

        Perhatikan `reference_price.from_real_data`: bila `false`, angkanya masih
        perkiraan manual, bukan hasil hitungan dari pekerjaan yang benar-benar
        selesai. UI **wajib** membedakan keduanya — menampilkan nilai awal seolah
        data nyata akan menyesatkan pemberi kerja sejak hari pertama.

        Harga referensi dihitung dari `agreed_amount` task berstatus `completed`,
        memakai **median** (bukan rata-rata, agar satu task mahal tidak merusak
        angkanya).
      responses:
        '200':
          description: Semua kategori aktif.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
              example:
                data:
                  - id: 2
                    slug: bersih-rumah
                    name: Membersihkan Rumah
                    description: Bersih-bersih rumah, kamar, dapur, kamar mandi
                    icon: broom
                    reference_price:
                      min: 75000
                      max: 300000
                      median: 150000
                      sample_size: 0
                      from_real_data: false
                      computed_at: null
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /skills:
    get:
      tags: [Katalog]
      operationId: listSkills
      summary: Daftar keahlian
      description: |
        Lebih rinci daripada kategori: kategori "Membersihkan Rumah" memuat
        keahlian "cuci AC", "bersih kamar mandi", "poles lantai".

        Dipakai untuk menandai task saat dibuat, dan untuk memfilter feed.
      parameters:
        - name: category_id
          in: query
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: Keahlian aktif.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
              example:
                data:
                  - { slug: cuci-ac, name: Cuci ac }
                  - { slug: setrika, name: Setrika }
        '401':
          $ref: '#/components/responses/Unauthenticated'

  # ─────────────────────────────── AKUN ───────────────────────────────
  /me:
    get:
      tags: [Akun]
      operationId: showMe
      summary: Profil sendiri
      responses:
        '200':
          description: Pengguna yang sedang masuk.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Me'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    patch:
      tags: [Akun]
      operationId: updateProfile
      summary: Ubah profil
      description: |
        Semua field opsional; hanya yang dikirim yang diubah.

        `avatar_path` adalah foto **publik**. Foto verifikasi identitas punya
        endpoint sendiri dan tidak pernah tampil ke orang lain.

        `skills` berisi **slug**, dan disinkronkan (bukan ditambahkan).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
            example:
              bio: Tukang berpengalaman, spesialis AC.
              skills: [cuci-ac, listrik]
              active_mode: working
              city: Jakarta
              postal_code: '10110'
      responses:
        '200':
          description: Profil terbaru.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Me'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /workers:
    get:
      tags: [Akun]
      operationId: listWorkers
      summary: Daftar pekerja siap kerja
      description: |
        Sisi sebaliknya dari feed task: pemberi kerja mencari ORANG, bukan
        pekerjaan.

        Yang muncul: setiap akun `active` yang punya baris `user_workers` —
        **terverifikasi maupun belum**. Verifikasi identitas MENANDAI barisnya
        lewat `ready_to_work`, ia tidak menyaringnya. Pekerja yang baru
        bergabung harus tetap bisa ditemukan; kalau disembunyikan, ia tidak
        akan pernah mendapat pekerjaan pertamanya.

        Yang tetap menyaring hanya status akun: yang ditangguhkan atau
        diblokir tidak muncul.

        Pakai `ready_to_work=true` kalau memang hanya mau melihat yang sudah
        terverifikasi, atau `ready_to_work=false` untuk menyisir yang belum.

        **Urutannya "yang baru SIAP BEKERJA", bukan "yang baru mendaftar".**
        Kuncinya `user_workers.created_at` + `id`, karena seseorang bisa punya
        akun dua tahun lalu dan baru kemarin membuka profil pekerjanya.

        Cursor pagination seperti seluruh endpoint daftar di API ini: `cursor`
        opaque, `per_page` maksimum 50, dan `meta` tidak pernah memuat
        `total` maupun `current_page`.

        Penyaring `city`/`province` membandingkan alamat **terpakai**: alamat
        kerja kalau pekerjanya mengisinya, domisili akun kalau tidak.
        Membandingkan kolom profil saja akan menghilangkan hampir setiap
        pekerja — alamat kerja bawaannya diwarisi — dan daftarnya akan tampak
        bekerja sambil hampir selalu kosong.

        Tidak ada pencarian nama sebagian: `LIKE '%budi%'` tidak bisa memakai
        indeks apa pun, dan API ini nol kemunculan `LIKE`.
      parameters:
        - { $ref: '#/components/parameters/PerPage' }
        - { $ref: '#/components/parameters/Cursor' }
        - name: city
          in: query
          schema: { type: string, maxLength: 80 }
          description: Kota kerja terpakai.
        - name: province
          in: query
          schema: { type: string, maxLength: 80 }
          description: Provinsi kerja terpakai.
        - name: gender
          in: query
          schema: { type: string, enum: [male, female] }
          description: |
            Ada pekerjaan yang memang menuntutnya — jaga anak, perawat lansia,
            pekerjaan di ruang tertutup.
        - name: ready_to_work
          in: query
          schema: { type: boolean }
          description: |
            Penyaring **opsional**. Dihilangkan berarti seluruh pekerja
            muncul, terverifikasi maupun belum.
      responses:
        '200':
          description: Pekerja, yang paling baru siap bekerja lebih dulu.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PublicUser' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /me/worker:
    get:
      tags: [Akun]
      operationId: showWorkerProfile
      summary: Profil pekerja sendiri
      description: |
        Sisi **pekerja** dari akun — tabel sendiri (`user_workers`), satu baris
        per orang.

        **Membaca tidak membuat baris.** Yang belum pernah mengisi apa pun tetap
        mendapat profil utuh, seluruhnya diwarisi dari akun, dengan
        `configured: false` sebagai penandanya.

        Responsnya punya dua lapis, dan keduanya diperlukan untuk membangun
        formulir sunting yang benar:

        - Di tingkat atas: nilai **terpakai**, sudah diresolusi.
        - Di `own`: nilai yang benar-benar **diisi sendiri**, `null` kalau
          diwarisi dari akun.

        Tanpa lapis kedua, formulir tidak bisa membedakan "nama pekerja saya
        memang Budi" dari "saya belum mengisinya, itu nama akun saya" — dan
        sekali formulir itu disimpan kembali, seluruh nilai warisan berubah jadi
        nilai yang diisi sendiri.
      responses:
        '200':
          description: Profil pekerja, sudah diresolusi.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WorkerProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    put:
      tags: [Akun]
      operationId: upsertWorkerProfile
      summary: Isi atau ubah profil pekerja
      description: |
        Membuat profilnya kalau belum ada, mengubahnya kalau sudah — klien tidak
        perlu tahu lebih dulu yang mana, dan mengirim isi yang sama dua kali
        menghasilkan keadaan yang sama.

        **`null` di sini berarti "kembali ikut akun"**, bukan "kosongkan".
        Mengirim `display_name: null` mengembalikan namanya mengikuti nama akun.
        Field yang **tidak disebut** tidak tersentuh.

        **Identitas akun harus lengkap lebih dulu.** Tanpa `gender` DAN
        `birth_date` di akun, panggilan ini dijawab `422` dengan
        `code: profile_incomplete` dan `context.missing` menyebut field mana
        yang kurang — lengkapi lewat `PATCH /me`, lalu ulangi. Kartu pekerja
        yang dibaca pemberi kerja menampilkan jenis kelamin dan umur; kartu
        berisi dua tanda hubung bukan kartu yang bisa dipakai memilih orang.

        Yang **tidak** diterima di sini, dan ditolak diam-diam kalau dikirim:

        - `gender` dan `birth_date` — identitas orangnya, sumbernya satu, dan
          diubah lewat `PATCH /me`.
        - `worker_rating_avg`, `tasks_completed`, `bids_won` — reputasi yang
          bisa dikirim klien bukan reputasi.

        Alamat diperlakukan sebagai **satu kesatuan**: begitu salah satu kolom
        alamat diisi, seluruh alamatnya berhenti mewarisi dari akun. Kalau tiap
        kolom jatuh sendiri-sendiri, pekerja yang menulis alamat kerjanya di kota
        lain akan mendapat gabungan dua alamat — jalannya dari sini, kotanya dari
        domisili akun — dan itu alamat yang tidak pernah ada.

        Koordinat hanya sah **berpasangan**: satu lintang tanpa bujur bukan
        lokasi yang kurang lengkap, ia bukan lokasi sama sekali.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertWorkerProfileRequest'
            example:
              display_name: Budi Tukang AC
              contact_phone: '+628222000222'
              city: Jakarta Selatan
              province: DKI Jakarta
              latitude: -6.2088
              longitude: 106.8456
              radius_km: 15
      responses:
        '200':
          description: Profil pekerja diubah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WorkerProfile'
        '201':
          description: |
            Profil pekerja **baru dibuat** oleh permintaan ini. Panggilan
            berikutnya pada profil yang sama menjawab `200`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WorkerProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /me/verifications:
    get:
      tags: [Akun]
      operationId: listMyVerifications
      summary: Riwayat pengajuan verifikasi
      description: |
        Hanya **status** yang dikembalikan. Path foto KTP, path selfie, NIK
        (baik hash maupun terenkripsi), dan nomor rekening **tidak pernah**
        keluar dari API.
      responses:
        '200':
          description: Pengajuan, terbaru dulu.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Verification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      tags: [Akun]
      operationId: submitVerification
      summary: Ajukan verifikasi identitas atau rekening
      description: |
        `type = identity` mengirim foto KTP **dan** selfie sekaligus — keduanya
        dinilai bersamaan, karena gunanya selfie justru untuk dicocokkan dengan
        foto di KTP.

        `type = bank_account` mengirim data rekening.

        Field foto berisi **path** hasil unggahan ke storage privat, bukan URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitVerificationRequest'
            examples:
              identity:
                value:
                  type: identity
                  id_card_photo_path: verifications/ktp-abc.jpg
                  selfie_photo_path: verifications/selfie-abc.jpg
                  document_number: '3174012345678901'
                  name_on_document: Budi Prasetyo
              bankAccount:
                value:
                  type: bank_account
                  bank_code: bca
                  account_number: '1234567890'
                  account_holder_name: Budi Prasetyo
      responses:
        '202':
          description: Pengajuan diterima, menunggu review.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Verification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  # ─────────────────────────────── TASK ───────────────────────────────
  /tasks:
    get:
      tags: [Task]
      operationId: listOpenTasks
      summary: Feed pekerjaan siap dilamar
      description: |
        Beranda mode cari kerja. **Urutan default: tanggal pembuatan, terbaru dulu.**
        Kata kunci, jarak, dan keahlian adalah **filter**, bukan pengubah urutan —
        itu yang membuat cursor tetap bertumpu pada kolom berindeks dan hasilnya
        stabil.

        Tiga hal dikecualikan supaya feed ini tidak berbohong:

        1. Hanya task yang **benar-benar** bisa dilamar. Status `open` saja tidak
           cukup — masa lelangnya bisa sudah lewat.
        2. **Bukan task milik sendiri.** Di aplikasi ini satu orang normalnya ada
           di kedua sisi, jadi ini kejadian biasa.
        3. Penawaran sendiri disertakan sebagai `my_bid`, agar UI bisa menandai
           "sudah dilamar" tanpa panggilan kedua.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/CategoryId'
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/BudgetFrom'
        - $ref: '#/components/parameters/BudgetTo'
        - $ref: '#/components/parameters/PostedWithinHours'
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/RadiusKm'
        - $ref: '#/components/parameters/Skills'
        - $ref: '#/components/parameters/MatchMySkills'
        - $ref: '#/components/parameters/ExcludeMyBids'
      responses:
        '200':
          $ref: '#/components/responses/TaskPage'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          description: |
            Validasi gagal. Perhatikan: `lat` dan `lng` **wajib berpasangan** —
            mengirim salah satu saja ditolak, bukan diabaikan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              example:
                message: Filter jarak butuh lat dan lng sekaligus.
                errors:
                  lng: [Filter jarak butuh lat dan lng sekaligus.]
    post:
      tags: [Task]
      operationId: createTask
      summary: Buat task
      description: |
        `budget_min` wajib. **`budget_max` opsional** — biarkan kosong untuk
        menyatakan tidak ada batas atas.

        Bila `publish_now` bernilai true, task langsung `open` dan menerima
        penawaran; bila tidak, task tersimpan sebagai `draft` sampai
        `POST /tasks/{task}/publish`.

        Harga referensi kategori **disalin** ke task saat dibuat, agar sengketa
        bisa dinilai dengan angka yang berlaku waktu itu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              tanpaBatasAtas:
                summary: Budget maksimum tidak diisi
                value:
                  category_id: 2
                  title: Cuci AC 2 unit di rumah
                  description: Servis AC split, freon dan cuci evaporator.
                  budget_min: 150000
                  city: Jakarta
                  latitude: -6.1754
                  longitude: 106.8272
                  skills: [cuci-ac]
                  publish_now: true
                  options:
                    - { label: Bawa alat sendiri, value: true }
              banyakPekerja:
                summary: Merekrut 30 orang sekaligus
                value:
                  category_id: 2
                  title: Bersih-bersih gudang sehari
                  description: Butuh 30 orang untuk merapikan gudang dalam satu hari.
                  budget_min: 150000
                  workers_needed: 30
                  needed_at: '2026-09-20T01:00:00Z'
                  publish_now: true
              lengkap:
                summary: Dengan batas atas dan jadwal
                value:
                  category_id: 2
                  title: Bersihkan rumah 2 lantai
                  description: Sapu, pel, kamar mandi.
                  budget_min: 200000
                  budget_max: 400000
                  needed_at: '2026-09-12T02:00:00Z'
                  bidding_closes_at: '2026-09-10T10:00:00Z'
                  publish_now: true
      responses:
        '201':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /tasks/posted:
    get:
      tags: [Task]
      operationId: listMyPostedTasks
      summary: Task yang saya posting
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/TaskStatusFilter'
      responses:
        '200':
          $ref: '#/components/responses/TaskPage'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /tasks/worked:
    get:
      tags: [Task]
      operationId: listMyWorkedTasks
      summary: Task yang saya kerjakan
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/TaskStatusFilter'
      responses:
        '200':
          $ref: '#/components/responses/TaskPage'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /tasks/{task}:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    get:
      tags: [Task]
      operationId: showTask
      summary: Detail task
      responses:
        '200':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task}/publish:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Task]
      operationId: publishTask
      summary: Terbitkan task draft
      description: Hanya pemilik task. `draft` → `open`, mulai menerima penawaran.
      responses:
        '200':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Perpindahan status tidak diizinkan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari completed ke open.
                code: invalid_status_transition
                context: { from: completed, to: open }

  /tasks/{task}/cancel:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Task]
      operationId: cancelTask
      summary: Batalkan task
      description: |
        Bisa dilakukan pemberi kerja maupun penerima kerja yang sudah deal.

        Dana yang sudah ditahan **dikembalikan**; bila belum masuk, pembayaran
        dibatalkan. Penawaran yang masih menggantung ditutup. Pembatalan setelah
        deal dicatat sebagai sinyal risiko pada orangnya.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: [string, 'null'], maxLength: 255 }
            example: { reason: Rencana berubah }
      responses:
        '200':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tasks/{task}/start:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Task]
      operationId: startTaskWithCurrentWorkers
      summary: Mulai dengan pekerja yang sudah diterima
      description: |
        Berhenti merekrut lebih awal, tanpa menunggu slot penuh.

        Task 30 orang yang hanya mendapat 18 pelamar layak tidak boleh
        tersandera oleh angka 30 — pekerjaan bertanggal tetap harus jalan.

        Yang terjadi: `workers_needed` **diturunkan** ke jumlah yang sudah
        diterima, pelamar yang masih menunggu ditolak, dan task masuk `dealt`.
        Targetnya diturunkan, bukan sekadar dipaksa deal, supaya setelah ini
        task tidak selamanya terlihat kekurangan orang.

        Hanya pemberi kerja, dan hanya selama task masih `open`.
      responses:
        '200':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Belum ada pelamar yang diterima, atau task tidak lagi `open`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Belum ada pelamar yang diterima, jadi pekerjaan belum bisa dimulai.
                code: no_workers_hired

  # ────────────────────────────── LELANG ──────────────────────────────
  /tasks/{task}/bids:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Lelang]
      operationId: placeBid
      summary: Ajukan penawaran
      description: |
        Penerima kerja menyertakan **budget-nya sendiri**.

        Satu orang **satu** penawaran per task: mengirim lagi akan **mengubah**
        penawaran yang ada (balasan `200`, bukan `201`).

        `budget_min` adalah batas keras. **`budget_max` tidak divalidasi** —
        pemberi kerja diberi kebebasan penuh memilih, termasuk tawaran di atas
        anggarannya.

        **Jumlah pelamar tidak dibatasi**, juga pada task yang merekrut banyak
        orang: `hiring.workers_needed` menentukan berapa yang akan diterima,
        bukan berapa yang boleh melamar. Justru dari banyaknya penawaran itulah
        pemberi kerja punya sesuatu untuk dipilih.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBidRequest'
            example:
              amount: 220000
              message: Bawa alat sendiri, sekitar 3 jam selesai.
              estimated_hours: 3
      responses:
        '201':
          description: Penawaran baru dibuat.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Bid'
        '200':
          description: Penawaran yang sudah ada diubah.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Bid'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          description: Menawar task sendiri.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa mengajukan penawaran pada task sendiri.
                code: cannot_bid_own_task
        '422':
          description: |
            Task tidak menerima penawaran (`task_not_biddable`) atau nominal di
            bawah budget minimum (`bid_below_minimum`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              examples:
                dibawahMinimum:
                  value:
                    message: Penawaran tidak boleh di bawah budget minimum task.
                    code: bid_below_minimum
                    context: { budget_min: 150000 }
                lelangTutup:
                  value:
                    message: Masa penawaran task ini sudah ditutup.
                    code: task_not_biddable
                    context: { status: open }
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Lelang]
      operationId: listTaskBids
      summary: Daftar penawaran pada sebuah task
      description: |
        Hanya pemilik task. Inilah bahan pertimbangannya: setiap penawaran
        membawa `bidder` lengkap dengan rating dua peran, jumlah pekerjaan
        selesai, dan status verifikasi identitas.

        Sinyal kepercayaan itu **dibaca saat ditampilkan**, tidak disalin ke
        baris penawaran — salinan akan basi.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - name: sort
          in: query
          required: false
          description: |
            `amount` termurah dulu (default), `rating` reputasi tertinggi dulu,
            `newest` terbaru dulu.
          schema:
            type: string
            enum: [amount, rating, newest]
            default: amount
      responses:
        '200':
          description: Halaman penawaran.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bid'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /bids/mine:
    get:
      tags: [Lelang]
      operationId: listMyBids
      summary: Penawaran yang saya ikuti
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Halaman penawaran saya.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bid'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /bids/{bid}/withdraw:
    parameters:
      - $ref: '#/components/parameters/BidUlid'
    post:
      tags: [Lelang]
      operationId: withdrawBid
      summary: Tarik penawaran
      description: Hanya penawarnya sendiri, dan hanya selama masih `pending`.
      responses:
        '200':
          description: Penawaran ditarik.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Bid'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Penawaran sudah tidak `pending`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'

  /bids/{bid}/accept:
    parameters:
      - $ref: '#/components/parameters/BidUlid'
    post:
      tags: [Lelang]
      operationId: acceptBid
      summary: DEAL — pilih satu penawaran
      description: |
        Hanya pemilik task, dan hanya **satu** penawaran.

        Dalam satu transaksi: penawaran terpilih jadi `accepted`, semua penawaran
        lain otomatis `rejected`, task jadi `dealt` dengan `agreed_amount`, dan
        tagihan pembayaran dibuat berstatus `pending`.

        Langkah berikutnya adalah `POST /tasks/{task}/payment/hold`.
      responses:
        '200':
          $ref: '#/components/responses/SingleTask'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Task sudah deal dengan orang lain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Task ini sudah deal dengan penerima kerja lain.
                code: task_already_dealt

  # ─────────────────────────────── UANG ───────────────────────────────
  /tasks/{task}/payment:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    get:
      tags: [Uang]
      operationId: showTaskPayment
      summary: Status uang sebuah task
      responses:
        '200':
          description: Status pembayaran.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task}/payment/hold:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Uang]
      operationId: holdPayment
      summary: Lapor sudah transfer — masuk antrean pengelola
      description: |
        **STUB.** Mekanisme pembayaran belum diriset, jadi belum ada gateway.

        > **Path-nya masih `payment/hold`, tapi endpoint ini tidak lagi menahan
        > dana.** Nama itu dipertahankan supaya klien yang sudah ada tidak perlu
        > diubah; yang berubah adalah apa yang terjadi sesudah dipanggil, dan
        > **status balasannya**: dulu `held`, sekarang `awaiting_confirmation`.
        > Klien yang bercabang pada `data.status` atau `data.is_held` harus
        > menyesuaikan.

        Endpoint ini **tidak membuka apa pun.** Ia memindahkan tagihan ke
        `awaiting_confirmation` dan menaruhnya di antrean pengelola. Yang
        menahan dana — dan dengan itu membuka activity — adalah
        `POST /admin/payments/{payment}/confirm`.

        Pemisahan itu inti aturannya: sebelum ini endpoint pemberi kerja
        langsung mencapai `held`, yang berarti pemberi kerja **menyatakan
        sendiri** uangnya sudah masuk, dan pekerja yang menanggung akibatnya
        kalau ternyata tidak.

        Perekrutan harus **selesai** lebih dulu (task berstatus `dealt`). Selama
        masih ada slot kosong, endpoint ini menolak — kalau tidak, pekerja yang
        direkrut belakangan tidak akan pernah punya activity.

        Laporan baru mengosongkan `rejection_reason` sebelumnya.
      responses:
        '200':
          description: Laporan tercatat, menunggu konfirmasi pengelola.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Payment'
              example:
                data:
                  id: 01JBQ7XK2M3N4P5Q6R7S8T9V0W
                  status: awaiting_confirmation
                  amount: 220000
                  is_held: false
                  awaits_confirmation: true
                  reported_at: '2026-09-10T09:12:44+00:00'
                  rejection_reason: null
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |
            Tagihan sudah tidak berstatus `pending`, atau perekrutan belum
            selesai.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari held ke awaiting_confirmation.
                code: invalid_status_transition
                context: { from: held, to: awaiting_confirmation }

  # ───────────────────────────── ACTIVITY ─────────────────────────────
  /activities/mine:
    get:
      tags: [Activity]
      operationId: listMyActivities
      summary: Pekerjaan yang saya kerjakan
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Halaman activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /activities/{activity}:
    parameters:
      - $ref: '#/components/parameters/ActivityUlid'
    get:
      tags: [Activity]
      operationId: showActivity
      summary: Detail activity
      description: Bisa dilihat penerima kerja maupun pemberi kerja.
      responses:
        '200':
          $ref: '#/components/responses/SingleActivity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /activities/{activity}/start:
    parameters:
      - $ref: '#/components/parameters/ActivityUlid'
    post:
      tags: [Activity]
      operationId: startActivity
      summary: Mulai mengerjakan
      description: |
        Hanya penerima kerja. Status dana diperiksa **ulang** di sini: dana bisa
        saja sudah dikembalikan sejak activity dibuka.
      responses:
        '200':
          $ref: '#/components/responses/SingleActivity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |
            Dana tidak lagi ditahan (`payment_not_held`) atau perpindahan status
            tidak diizinkan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: 'Dana belum ditahan, activity tidak bisa dibuka (status: refunded).'
                code: payment_not_held
                context: { payment_status: refunded }

  /activities/{activity}/submit:
    parameters:
      - $ref: '#/components/parameters/ActivityUlid'
    post:
      tags: [Activity]
      operationId: submitActivity
      summary: Serahkan hasil kerja
      description: |
        Hanya penerima kerja.

        `proof_photos` bukan pelengkap: begitu ada dana ditahan, akan ada
        sengketa "pekerjaannya tidak beres", dan tanpa bukti berfoto keputusan
        admin cuma tebak-tebakan.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitActivityRequest'
            example:
              worker_note: Sudah beres semua, AC sudah dicuci dan diisi freon.
              proof_photos: [proof/a.jpg, proof/b.jpg]
      responses:
        '200':
          $ref: '#/components/responses/SingleActivity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Perpindahan status tidak diizinkan.

  /activities/{activity}/approve:
    parameters:
      - $ref: '#/components/parameters/ActivityUlid'
    post:
      tags: [Activity]
      operationId: approveActivity
      summary: Setujui hasil — task selesai, dana dilepas
      description: |
        Hanya pemberi kerja. Task jadi `completed`, pembayaran jadi `released`,
        dan `tasks_completed` penerima kerja bertambah.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                poster_note: { type: [string, 'null'], maxLength: 2000 }
            example: { poster_note: 'Rapi, terima kasih' }
      responses:
        '200':
          $ref: '#/components/responses/SingleActivity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Perpindahan status tidak diizinkan.

  /activities/{activity}/reject:
    parameters:
      - $ref: '#/components/parameters/ActivityUlid'
    post:
      tags: [Activity]
      operationId: rejectActivity
      summary: Tolak hasil — sengketa
      description: |
        Hanya pemberi kerja. Task jadi `disputed` dan **dana tetap ditahan**.
        Penyelesaiannya (admin memutuskan dilepas atau dikembalikan) belum
        tersedia di API ini.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                poster_note: { type: [string, 'null'], maxLength: 2000 }
            example: { poster_note: Kamar mandi masih berkerak }
      responses:
        '200':
          $ref: '#/components/responses/SingleActivity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ──────────────────────────── PENILAIAN ─────────────────────────────
  /tasks/{task}/reviews:
    parameters:
      - $ref: '#/components/parameters/TaskUlid'
    post:
      tags: [Penilaian]
      operationId: createReview
      summary: Beri penilaian
      description: |
        Dua arah: pemberi kerja menilai penerima kerja, dan sebaliknya. Perannya
        ditentukan otomatis dari posisi pemanggil pada task itu.

        Hanya setelah task `completed`, dan **satu kali** per orang per task.
        Kedua aturan itulah yang membuat rating tidak bisa dipalsukan: hanya
        orang yang benar-benar bertransaksi, sekali saja.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
            example: { rating: 5, comment: Kerja bagus dan tepat waktu }
      responses:
        '201':
          description: Penilaian tersimpan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Bukan peserta task ini — `404`, bukan `403`, agar keberadaan task tidak terkonfirmasi.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Task tidak ditemukan.
                code: task_not_found
        '422':
          description: Task belum selesai, atau sudah pernah dinilai.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              examples:
                belumSelesai:
                  value:
                    message: Penilaian hanya bisa diberikan setelah task selesai.
                    code: review_not_allowed
                sudahMenilai:
                  value:
                    message: Anda sudah memberi penilaian untuk task ini.
                    code: review_not_allowed

  /users/{user}/reviews:
    parameters:
      - name: user
        in: path
        required: true
        description: ULID pengguna.
        schema: { type: string, minLength: 26, maxLength: 26 }
    get:
      tags: [Penilaian]
      operationId: listUserReviews
      summary: Penilaian yang diterima seseorang
      description: |
        Bisa dipisah per peran lewat `role` — reputasi sebagai pemberi kerja dan
        sebagai penerima kerja adalah dua hal berbeda.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - name: role
          in: query
          required: false
          description: Sudut pandang penilai.
          schema:
            $ref: '#/components/schemas/ReviewerRole'
      responses:
        '200':
          description: Halaman penilaian.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'

  # ──────────────────────────── PENGELOLA ─────────────────────────────
  #
  # POPULASI TOKEN YANG BERBEDA, bukan pengguna dengan peran. Akun pengelola
  # ada di tabelnya sendiri (`admins`) dan dipegang guard-nya sendiri, jadi
  # token pengguna menghasilkan 401 di sini — bukan 403.
  #
  # Empat lapis, satu lebih banyak daripada endpoint pengguna: guard, ability
  # (`admin:access`), status akun diperiksa per permintaan, dan rate limit.
  # Lapis ketiga ada karena status tidak tersimpan di dalam token, dan token
  # itu hidup delapan jam.
  #
  # TIDAK ADA endpoint pendaftaran pengelola, dan itu disengaja: akun pengelola
  # hanya lahir dari `php artisan sekarya:admin create` (super_admin, sekali)
  # dan `POST /admin/admins` (dipanggil super_admin).

  /admin/auth/login:
    post:
      tags: [Pengelola]
      operationId: adminLogin
      summary: Masuk sebagai pengelola
      security: []
      description: |
        Alamat yang tidak terdaftar dan sandi yang salah menghasilkan respons
        yang **identik**, termasuk waktunya — kalau berbeda, endpoint ini
        menjadi alat menemukan alamat pengelola, dan daftar itu tepat yang
        dibutuhkan sebelum mencoba menebak sandinya.

        Batas laju 5/menit per email + IP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginRequest'
            example:
              email: super@sekarya.test
              password: RahasiaKuatSekali99!
      responses:
        '200':
          description: Pasangan token pengelola. Nilainya hanya bisa dibaca **sekali**.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminTokenPair'
        '401':
          description: Alamat atau sandi salah — jawaban yang sama untuk keduanya.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Email atau kata sandi salah.
                code: invalid_credentials
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /admin/auth/refresh:
    post:
      tags: [Pengelola]
      operationId: adminRefresh
      summary: Tukar long_lived pengelola jadi access baru
      security:
        - adminLongLivedToken: []
      description: |
        Status akun diperiksa **ulang** di sini. Long_lived-nya hidup 30 hari,
        jadi tanpa pemeriksaan ini pengelola yang dinonaktifkan bisa terus
        memperpanjang aksesnya sendiri selama sebulan.

        Access token lama langsung tidak berlaku. Long_lived tidak diganti.
      responses:
        '200':
          description: Access token baru.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccessToken'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'

  /admin/auth/logout:
    post:
      tags: [Pengelola]
      operationId: adminLogout
      summary: Akhiri sesi pengelola
      security:
        - adminAccessToken: []
        - adminLongLivedToken: []
      description: |
        Mencabut **semua** token, termasuk long_lived — mencabut access saja
        akan menyisakan kredensial yang masih bisa menerbitkan akses baru.

        Menerima kedua jenis token, dan **tidak** memeriksa status akun:
        pengelola yang baru dinonaktifkan harus tetap bisa mencabut tokennya
        sendiri.
      responses:
        '200':
          description: Sesi diakhiri.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              example:
                message: Sesi pengelola diakhiri.
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /admin/me:
    get:
      tags: [Pengelola]
      operationId: showAdminMe
      summary: Pengelola yang sedang masuk
      security:
        - adminAccessToken: []
      responses:
        '200':
          description: Akun pengelola.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Admin'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'

  /admin/verifications:
    get:
      tags: [Pengelola]
      operationId: listVerificationQueue
      summary: Antrean verifikasi identitas & rekening
      security:
        - adminAccessToken: []
      description: |
        **Paling lama menunggu di depan** — kebalikan dari seluruh endpoint
        daftar lain di API ini. Antrean kerja yang menampilkan terbaru dulu
        membuat pengajuan tertua tenggelam makin dalam setiap ada pengajuan
        baru, dan justru itulah pengajuan yang paling lama membuat orang tidak
        bisa bekerja.

        Tanpa `status`, yang tampil adalah yang **masih menunggu keputusan**
        (`pending` + `in_review`), bukan seluruh riwayat.

        Baris di daftar ini tidak memuat NIK, nomor rekening, maupun path foto.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationStatus'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VerificationType'
      responses:
        '200':
          description: Halaman antrean, cursor-paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data, links, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminVerification'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/verifications/{verification}:
    parameters:
      - $ref: '#/components/parameters/VerificationId'
    get:
      tags: [Pengelola]
      operationId: showVerification
      summary: Detail pengajuan — NIK terbaca, dan pembacaannya dicatat
      security:
        - adminAccessToken: []
      description: |
        Satu-satunya tempat NIK dan nomor rekening keluar dalam bentuk terbaca.

        **Permintaan GET ini menulis.** Setiap pembacaan meninggalkan baris
        `verification.viewed` di jejak audit: siapa membuka data siapa, kapan,
        dari IP mana. Sebuah GET yang menulis memang tidak biasa, dan di sini
        itu tujuannya — tanpa baris itu, "siapa pernah membuka NIK siapa" tidak
        terjawab oleh apa pun.
      responses:
        '200':
          description: Rincian pengajuan.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminVerificationDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/verifications/{verification}/approve:
    parameters:
      - $ref: '#/components/parameters/VerificationId'
    post:
      tags: [Pengelola]
      operationId: approveVerification
      summary: Setujui verifikasi
      security:
        - adminAccessToken: []
      description: |
        Status jadi `verified`, dan badge "terverifikasi" pemiliknya menyala —
        badge itu **dihitung** dari status ini, tidak disimpan sebagai boolean,
        supaya pencabutan tidak menyisakan penanda yang berbohong.

        Keputusannya ditentukan **endpoint**-nya, bukan payload. Kalau
        keputusan datang dari payload, `/approve` bisa dipakai menolak dan izin
        per-endpoint kehilangan artinya.
      responses:
        '200':
          description: Pengajuan disetujui.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminVerificationDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Pengajuan sudah final — misalnya sudah ditolak.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari rejected ke verified.
                code: invalid_status_transition
                context: { from: rejected, to: verified }

  /admin/verifications/{verification}/reject:
    parameters:
      - $ref: '#/components/parameters/VerificationId'
    post:
      tags: [Pengelola]
      operationId: rejectVerification
      summary: Tolak verifikasi
      security:
        - adminAccessToken: []
      description: |
        `reason` **wajib** dan dibaca penggunanya sendiri di
        `GET /me/verifications` — tanpa itu, orang yang ditolak tidak punya
        cara tahu apa yang harus diperbaiki, dan akan mengajukan hal yang sama
        lagi.

        Penolakan tidak bisa dibatalkan di baris yang sama: perbaikannya lewat
        pengajuan ulang, yang meninggalkan riwayat penolakannya.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
            example:
              reason: Foto KTP tidak terbaca, silakan unggah ulang.
      responses:
        '200':
          description: Pengajuan ditolak.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminVerificationDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/verifications/{verification}/revoke:
    parameters:
      - $ref: '#/components/parameters/VerificationId'
    post:
      tags: [Pengelola]
      operationId: revokeVerification
      summary: Cabut verifikasi yang sudah diberikan
      security:
        - adminAccessToken: []
      description: |
        Untuk identitas yang ternyata palsu. Tanpa jalur ini, badge
        "terverifikasi" tidak bisa ditarik kembali setelah diberikan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
            example:
              reason: Dokumen ternyata milik orang lain.
      responses:
        '200':
          description: Verifikasi dicabut.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminVerificationDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Hanya pengajuan berstatus `verified` yang bisa dicabut.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari pending ke revoked.
                code: invalid_status_transition
                context: { from: pending, to: revoked }

  /admin/payments:
    get:
      tags: [Pengelola]
      operationId: listPaymentQueue
      summary: Antrean konfirmasi transfer
      security:
        - adminAccessToken: []
      description: |
        Bawaannya `awaiting_confirmation` — satu-satunya status yang menunggu
        tindakan manusia.

        Diurutkan `reported_at`, bukan `created_at`: baris tagihan dibuat saat
        pelamar pertama diterima, jauh sebelum ada transfer yang dilaporkan,
        jadi `created_at` tidak mengatakan apa pun tentang berapa lama orang
        menunggu.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PaymentStatus'
      responses:
        '200':
          description: Halaman antrean, cursor-paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data, links, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminPayment'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/payments/{payment}:
    parameters:
      - $ref: '#/components/parameters/PaymentUlid'
    get:
      tags: [Pengelola]
      operationId: showAdminPayment
      summary: Detail satu tagihan
      security:
        - adminAccessToken: []
      responses:
        '200':
          description: Tagihan beserta task dan pembayarnya.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminPayment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/payments/{payment}/confirm:
    parameters:
      - $ref: '#/components/parameters/PaymentUlid'
    post:
      tags: [Pengelola]
      operationId: confirmPayment
      summary: Dana masuk — ditahan, activity dibuka
      security:
        - adminAccessToken: []
      description: |
        **SATU-SATUNYA jalan menuju `held`**, dan `held` adalah gerbang yang
        membuka pekerjaan. Panggil ini hanya setelah mutasi rekening
        benar-benar terlihat.

        Satu konfirmasi membuka **satu activity per pekerja** yang diterima,
        masing-masing membawa harga penawarannya sendiri; tagihannya tetap satu
        baris sebesar jumlah semuanya, karena pemberi kerja mentransfer sekali.
        Task-nya pindah ke `active`, dan jejak statusnya menyebut **pengelola**
        sebagai pelaku.

        Tagihan yang belum dilaporkan (`pending`) ditolak: tanpa laporan, tidak
        ada yang menyatakan transfernya ada.
      responses:
        '200':
          description: Dana ditahan, activity dibuka untuk setiap pekerja.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminPayment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Belum dilaporkan, sudah ditahan, atau perekrutan belum selesai.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari pending ke held.
                code: invalid_status_transition
                context: { from: pending, to: held }

  /admin/payments/{payment}/reject:
    parameters:
      - $ref: '#/components/parameters/PaymentUlid'
    post:
      tags: [Pengelola]
      operationId: rejectPayment
      summary: Dana tidak ditemukan — laporan ditolak
      security:
        - adminAccessToken: []
      description: |
        Tagihan kembali ke `pending` dan boleh dilaporkan ulang. Bukan status
        "ditolak" tersendiri: status seperti itu akan menuntut jalan keluarnya
        sendiri untuk hal yang sudah dijawab `pending`.

        `reason` tersimpan di baris tagihan supaya **pemberi kerja** bisa
        membacanya di `GET /tasks/{task}/payment`, dan di jejak audit supaya
        keputusan itu tetap ada setelah laporan berikutnya menimpanya.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
            example:
              reason: Tidak ada mutasi masuk sejumlah itu hari ini.
      responses:
        '200':
          description: Laporan ditolak, tagihan kembali ke `pending`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminPayment'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/users:
    get:
      tags: [Pengelola]
      operationId: listUsersForAdmin
      summary: Daftar pengguna untuk moderasi
      security:
        - adminAccessToken: []
      description: |
        `email` adalah pencocokan **persis**, bukan pencarian sebagian. `%budi%`
        tidak bisa memakai indeks apa pun, jadi setiap ketikan akan memindai
        seluruh tabel pengguna — dan proyek ini tidak memakai `LIKE` di mana
        pun. Pencarian nama sebagian butuh tabel indeks terbalik tersendiri
        (pola `task_search`); itu slice sendiri.

        Alamat yang tidak terdaftar mengembalikan daftar **kosong**, bukan
        `422`: kalau `422`, daftar ini menjadi alat menebak alamat terdaftar.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserStatus'
        - name: email
          in: query
          required: false
          description: Pencocokan persis.
          schema: { type: string, format: email }
      responses:
        '200':
          description: Halaman pengguna, cursor-paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data, links, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/users/{user}:
    parameters:
      - $ref: '#/components/parameters/UserUlid'
    get:
      tags: [Pengelola]
      operationId: showUserForAdmin
      summary: Detail satu pengguna
      security:
        - adminAccessToken: []
      responses:
        '200':
          description: Pengguna.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/users/{user}/suspend:
    parameters:
      - $ref: '#/components/parameters/UserUlid'
    post:
      tags: [Pengelola]
      operationId: suspendUser
      summary: Tangguhkan akun
      security:
        - adminAccessToken: []
      description: |
        **Seluruh token pengguna itu dicabut**, dan itulah yang benar-benar
        menghentikannya. Status saja tidak: access token hidup delapan jam dan
        tidak menyimpan status di dalamnya, jadi akun yang ditangguhkan tanpa
        pencabutan token tetap bisa menawar dan mengerjakan task sampai
        tokennya kedaluwarsa — long_lived-nya bahkan 30 hari.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
            example:
              reason: Melaporkan transfer palsu dua kali berturut-turut.
      responses:
        '200':
          description: Akun ditangguhkan, tokennya dicabut.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/users/{user}/ban:
    parameters:
      - $ref: '#/components/parameters/UserUlid'
    post:
      tags: [Pengelola]
      operationId: banUser
      summary: Blokir akun
      security:
        - adminAccessToken: []
      description: |
        Sama seperti `suspend` dalam hal pencabutan token. Bisa dibatalkan
        lewat `reinstate` — pemulihan bisa salah sasaran, jadi blokir harus
        bisa ditarik kembali.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
            example:
              reason: Identitas palsu, dipakai untuk menipu berkali-kali.
      responses:
        '200':
          description: Akun diblokir, tokennya dicabut.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/users/{user}/reinstate:
    parameters:
      - $ref: '#/components/parameters/UserUlid'
    post:
      tags: [Pengelola]
      operationId: reinstateUser
      summary: Pulihkan akun
      security:
        - adminAccessToken: []
      description: |
        Tujuannya **belum tentu** `active`. Akun yang belum pernah
        memverifikasi email dikembalikan ke `pending_verification` dan harus
        menyelesaikan kodenya sendiri — kalau dikembalikan ke `active`,
        moderasi menjadi jalan melewati verifikasi email: tangguhkan lalu
        pulihkan, dan akunnya aktif tanpa pernah memasukkan kode.

        Tidak perlu `reason`: memulihkan akses tidak merugikan siapa pun.
      responses:
        '200':
          description: Akun dipulihkan ke `active` atau `pending_verification`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Akun tidak sedang ditangguhkan atau diblokir.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              example:
                message: Tidak bisa berpindah dari active ke active.
                code: invalid_status_transition
                context: { from: active, to: active }

  /admin/admins:
    get:
      tags: [Pengelola]
      operationId: listAdmins
      summary: Daftar akun pengelola
      security:
        - adminAccessToken: []
      description: |
        **Hanya `super_admin`.** Peran `admin` menerima `403` dengan
        `code: admin_access_denied` dan `context.reason: insufficient_role` —
        bentuk kontrak, bukan galat bawaan framework, karena gerbangnya
        middleware dan bukan Policy.

        Akun yang sudah dihapus tidak ikut.
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Halaman akun pengelola, cursor-paginated.
          content:
            application/json:
              schema:
                type: object
                required: [data, links, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Admin'
                  links: { $ref: '#/components/schemas/CursorLinks' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
    post:
      tags: [Pengelola]
      operationId: createAdmin
      summary: Buat akun pengelola baru
      security:
        - adminAccessToken: []
      description: |
        **Hanya `super_admin`.**

        Perannya selalu `admin`, dipaksa di sisi server dan tidak bisa dikirim
        klien — kalau bisa, endpoint ini adalah jalan membuat `super_admin`
        kedua. Jumlah `super_admin` juga dijaga indeks unique di basis data,
        jadi upaya menulisnya lewat jalur lain pun gagal.

        Akun baru langsung `active`. Bawaan **kolomnya** tetap `suspended`
        (keadaan paling sedikit hak); jalur ini menyetelnya sadar karena
        akunnya memang sengaja dibuat oleh orang yang berhak.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminRequest'
            example:
              name: Verifikator Dua
              email: verif2@sekarya.test
              password: RahasiaKuatSekali99!
              password_confirmation: RahasiaKuatSekali99!
      responses:
        '201':
          description: Akun pengelola dibuat.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Admin'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /admin/admins/{admin}:
    parameters:
      - $ref: '#/components/parameters/AdminUlid'
    get:
      tags: [Pengelola]
      operationId: showAdmin
      summary: Detail satu akun pengelola
      security:
        - adminAccessToken: []
      description: '**Hanya `super_admin`.**'
      responses:
        '200':
          description: Akun pengelola.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Admin'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/AdminForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Pengelola]
      operationId: deleteAdmin
      summary: Hapus akun pengelola
      security:
        - adminAccessToken: []
      description: |
        **Hanya `super_admin`**, dan `super_admin` sendiri **tidak bisa
        dihapus** — ia satu-satunya yang bisa membuat pengelola baru, jadi
        menghapusnya berarti tidak ada lagi jalan memulihkan akses pengelola
        dari dalam aplikasi.

        Soft delete, bukan hapus permanen: jejak audit menunjuk barisnya, dan
        "siapa menyetujui pembayaran ini" yang menunjuk baris yang sudah hilang
        tidak bisa dibaca lagi. Akibat yang disengaja: **alamat emailnya tetap
        terpakai** dan tidak bisa diberikan kepada orang lain.

        Token akun itu dicabut. Tanpa itu, pengelola yang baru dihapus masih
        bisa menyetujui pembayaran sampai delapan jam ke depan.
      responses:
        '200':
          description: Akun dihapus, tokennya dicabut.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              example:
                message: Akun pengelola dihapus.
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          description: |
            Bukan `super_admin` (`admin_access_denied`), atau sasarannya
            `super_admin` (`super_admin_protected`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainError'
              examples:
                insufficientRole:
                  summary: Peran `admin` mencoba menghapus pengelola
                  value:
                    message: Hanya super_admin yang boleh mengelola akun pengelola.
                    code: admin_access_denied
                    context: { reason: insufficient_role }
                protected:
                  summary: Sasarannya `super_admin`
                  value:
                    message: Akun super_admin tidak bisa dihapus.
                    code: super_admin_protected
        '404':
          $ref: '#/components/responses/NotFound'


components:

  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      description: |
        `access_token` dari `/auth/verify-email`, `/auth/login`, atau
        `/auth/refresh`. Umur **8 jam**.

        Wajib untuk semua endpoint aplikasi. Memakai `long_lived_token` di sini
        menghasilkan `403 Invalid ability provided.`

        Sertakan juga `Accept: application/json`, jika tidak Laravel bisa
        membalas HTML.
    longLivedToken:
      type: http
      scheme: bearer
      description: |
        `long_lived_token`, umur 30 hari. **Hanya** untuk `POST /auth/refresh`.
        Memakainya di endpoint lain menghasilkan `403`.
    adminAccessToken:
      type: http
      scheme: bearer
      description: |
        `access_token` dari `POST /admin/auth/login` atau
        `POST /admin/auth/refresh`. Umur **8 jam**.

        **Populasi token yang berbeda, bukan pengguna dengan peran.** Akun
        pengelola ada di tabelnya sendiri dan dipegang guard-nya sendiri, jadi:

        | Token | Endpoint pengguna | Endpoint `/admin` |
        |---|---|---|
        | `access_token` pengguna | 200 | **401** |
        | `access_token` pengelola | **401** | 200 |

        `401`, bukan `403` — kegagalannya di autentikasi, karena guard
        `/admin` sama sekali tidak mengenali pemilik token dari tabel
        pengguna.
    adminLongLivedToken:
      type: http
      scheme: bearer
      description: |
        `long_lived_token` pengelola, umur 30 hari. **Hanya** untuk
        `POST /admin/auth/refresh`. Memakainya di endpoint lain menghasilkan
        `403`.

  headers:
    RequestId:
      description: |
        Pengenal korelasi untuk request ini. **Ada di setiap respons**, termasuk
        yang tidak mencantumkannya secara eksplisit di spesifikasi ini.

        Sebutkan nilainya saat melaporkan masalah: seluruh jejak request —
        galat, kueri lambat, panggilan keluar — tersimpan di bawah id yang sama
        dan bisa ditemukan tanpa menebak dari jam kejadian.

        Klien boleh mengirimkan `X-Request-Id` sendiri; nilai yang cocok dengan
        `^[A-Za-z0-9._-]{8,64}$` akan dipakai apa adanya sehingga satu jejak
        tetap menyatu melewati beberapa layanan. Selain itu, server membuat ULID.
      schema: { type: string, maxLength: 64, example: 01M21JSGAETJGA3DY1PE4BDJCT }

  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: Baris per halaman. Nilai di atas maksimum ditolak `422`.
      schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: Cursor opaque dari `meta.next_cursor`/`prev_cursor`. Jangan disusun manual.
      schema: { type: string, maxLength: 255 }
    CategoryId:
      name: category_id
      in: query
      required: false
      schema: { type: integer }
    City:
      name: city
      in: query
      required: false
      schema: { type: string, maxLength: 80 }
    BudgetFrom:
      name: budget_from
      in: query
      required: false
      description: Batas bawah, dibandingkan dengan `budget_min` task.
      schema: { type: integer, minimum: 0 }
    BudgetTo:
      name: budget_to
      in: query
      required: false
      description: Batas atas, dibandingkan dengan `budget_min` task.
      schema: { type: integer, minimum: 0 }
    PostedWithinHours:
      name: posted_within_hours
      in: query
      required: false
      description: |
        Hanya task yang diposting dalam sekian **jam** terakhir.

        Jam, bukan tanggal: pencari kerja yang memantau feed sepanjang hari
        berpikir dalam "sejak tadi pagi", bukan dalam rentang kalender. Batasnya
        dihitung dari jam server — tanggal dari perangkat yang jamnya meleset
        akan menyembunyikan task yang sebenarnya baru.
      schema: { type: integer, minimum: 1, maximum: 720, examples: [24] }
    Keyword:
      name: q
      in: query
      required: false
      description: |
        Nama pekerjaan. Dicari di judul **dan** deskripsi lewat indeks terbalik
        FULLTEXT — **bukan `LIKE`**, yang tidak bisa memakai indeks apa pun dan
        biayanya tumbuh linear terhadap jumlah task.

        Semua kata harus cocok (AND), dan kata **terakhir** dicocokkan sebagai
        awalan sehingga "bersih rum" sudah menemukan "bersih rumah" sebelum
        selesai diketik.

        Dua hal yang ditangani khusus, keduanya tetap lewat indeks:

        - **Kata pendek.** `innodb_ft_min_token_size` bawaan MySQL adalah 3,
          jadi "AC" tidak akan pernah terindeks apa adanya. Kata di bawah ambang
          itu disimpan dengan penanda sehingga tetap bisa dicari — dan
          dicocokkan PERSIS, jadi "ac" tidak ikut menangkap "macet" atau
          "acara".
        - **Imbuhan.** Akar kata ikut disimpan, sehingga "bersih" menemukan
          judul yang berbunyi "Membersihkan".

        Masukan hanya tanda baca menghasilkan nol baris, bukan seluruh data.
      schema: { type: string, minLength: 2, maxLength: 120 }
      example: cuci ac
    Latitude:
      name: lat
      in: query
      required: false
      description: '**Wajib berpasangan dengan `lng`.** Koordinat GPS perangkat.'
      schema: { type: number, minimum: -90, maximum: 90 }
      example: -6.1754
    Longitude:
      name: lng
      in: query
      required: false
      description: '**Wajib berpasangan dengan `lat`.**'
      schema: { type: number, minimum: -180, maximum: 180 }
      example: 106.8272
    RadiusKm:
      name: radius_km
      in: query
      required: false
      description: |
        Radius dalam kilometer dari `lat`/`lng`. Hanya berlaku bila koordinat
        lengkap. Task yang lolos membawa `distance_km`.
      schema: { type: number, minimum: 0.1, maximum: 100, default: 10 }
    Skills:
      name: skills
      in: query
      required: false
      description: |
        Slug keahlian, dipisah koma (atau `skills[]` berulang). Task cocok bila
        membutuhkan **salah satu** keahlian tersebut.
      schema: { type: string }
      example: cuci-ac,setrika
    MatchMySkills:
      name: match_my_skills
      in: query
      required: false
      description: |
        Bila true, hanya task yang membutuhkan keahlian yang tercatat pada profil
        saya. Diabaikan bila `skills` juga dikirim.
      schema: { type: boolean, default: false }
    ExcludeMyBids:
      name: exclude_my_bids
      in: query
      required: false
      description: |
        Sembunyikan task yang sudah saya tawar. Default `false` — sengaja tetap
        ditampilkan agar penerima kerja bisa melihat dan mengubah tawarannya.
      schema: { type: boolean, default: false }
    TaskStatusFilter:
      name: status
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/TaskStatus'
    TaskUlid:
      name: task
      in: path
      required: true
      description: ULID task (bukan id numerik).
      schema: { type: string, minLength: 26, maxLength: 26 }
    BidUlid:
      name: bid
      in: path
      required: true
      description: ULID penawaran.
      schema: { type: string, minLength: 26, maxLength: 26 }
    ActivityUlid:
      name: activity
      in: path
      required: true
      description: ULID activity.
      schema: { type: string, minLength: 26, maxLength: 26 }
    PaymentUlid:
      name: payment
      in: path
      required: true
      description: ULID tagihan pembayaran.
      schema: { type: string, minLength: 26, maxLength: 26 }
    UserUlid:
      name: user
      in: path
      required: true
      description: ULID pengguna.
      schema: { type: string, minLength: 26, maxLength: 26 }
    AdminUlid:
      name: admin
      in: path
      required: true
      description: ULID akun pengelola.
      schema: { type: string, minLength: 26, maxLength: 26 }
    VerificationId:
      name: verification
      in: path
      required: true
      description: |
        Id pengajuan verifikasi. Numerik, bukan ULID — baris ini tidak pernah
        muncul di URL publik.
      schema: { type: integer }

  responses:
    TokenPair:
      description: Pasangan token. Nilai token hanya bisa dibaca **sekali**, di sini.
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/TokenPair'
          example:
            data:
              token_type: Bearer
              access_token: 11|aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              long_lived_token: 10|bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
              access_expires_at: '2026-09-08T17:54:55+00:00'
              long_lived_expires_at: '2026-10-08T09:54:55+00:00'
              access_expires_in_seconds: 28799
              user:
                id: 01M1ZZTZ1DK98NQCGFGDJ77EW8
                name: Budi Prasetyo
                phone: '+628111222333'
                email: budi@example.com
                phone_verified: false
                status: active
                active_mode: hiring
                theme: system
                as_worker: { rating_avg: 0, rating_count: 0, tasks_completed: 0, bids_won: 0 }
                as_poster: { rating_avg: 0, rating_count: 0, tasks_posted: 0 }
    SingleTask:
      description: Satu task.
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Task'
    TaskPage:
      description: Halaman task, cursor-paginated.
      content:
        application/json:
          schema:
            type: object
            required: [data, links, meta]
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
              links: { $ref: '#/components/schemas/CursorLinks' }
              meta: { $ref: '#/components/schemas/CursorMeta' }
    SingleActivity:
      description: Satu activity.
      content:
        application/json:
          schema:
            type: object
            required: [data]
            properties:
              data:
                $ref: '#/components/schemas/Activity'
    Unauthenticated:
[...]
